@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

:host h1,h2,h3,h4,h5,h6,p,div,mat-form-field ,mat-label, span ,label{
    font-family: var(--font-style);
}

::ng-deep :root {
    --font-style:'Playfair Display', serif;
}
h1 ,h3 ,div ,label{
    font-family: var(--font-style);
}

h1 {
    font-size: xx-large;
}