<section
  style="display: flex; flex-direction: row; flex-wrap: wrap; padding: 2rem"
>
  <div
    *ngFor="let profile of data"
    style="width: 20vw; margin: 6px; filter: drop-shadow(1px 1px 6px black)"
  >
    <mat-card>
      <mat-card-header>
        <mat-icon color="primary">verified</mat-icon>
        <mat-card-title
          >{{ profile.name.firstName | uppercase }}
          {{ profile.name.lastName | uppercase }}</mat-card-title
        >
        <mat-card-subtitle>{{ profile.phoneNumber }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>{{ profile.email }}</p>
        <p>{{ profile.id }}<small> (Identification Number)</small></p>
      </mat-card-content>
      <mat-card-actions matSuffix>
        <button
          mat-stroked-button
          color="primary"
          (click)="MakeEdit(profile.id)"
        >
          <mat-icon align="end">edit</mat-icon>Edit
        </button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div
    (click)="addUser()"
    style="
      width: 20vw;
      margin: 6px;
      filter: drop-shadow(1px 1px 6px black);
      height: 28vh;
      box-shadow: 1px 1px 6px black;
      border-radius: 6px;
      background-color: white;
    "
  >
    <mat-icon
      color="primary"
      style="
        font-size: larger;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      "
      >add_circle_outline</mat-icon
    >
  </div>
</section>
