<section style="display: flex;flex-direction: row;flex-wrap: wrap;padding:2rem;">
    <div *ngFor="let profile of data" style="width: 20vw;margin: 6px;filter: drop-shadow(1px 1px 6px black);"> 
        <mat-card>
            <mat-card-header>
                <mat-icon color="primary">verified</mat-icon>
              <mat-card-title>{{ profile.name.firstName | uppercase}}</mat-card-title>
              <mat-card-subtitle>{{ profile.phoneNumber}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p>This card indeterminates progress bar.</p>
              <p>{{profile.id}}</p>
            </mat-card-content>
            <mat-card-actions matSuffix>
              <button mat-button (click)="MakeEdit(profile.name.lastName)">Edit<mat-icon >edit</mat-icon></button>
            </mat-card-actions>
          </mat-card>
    </div>
</section>