.col input {
    text-align: center;
    padding: 0.5rem;
    width: calc(100% + 10px);
    border: none;
}

div[class='col'] {
    color: white;
    font-size: larger;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0.5rem;

    border-bottom: 1px solid black;
}